@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out forwards;
}

.animate-shrink {
  animation: shrink linear forwards;
}
